.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-signin {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 32rem;
  padding: 1rem;
  margin: 0 auto; 
}
  
.form-signin .form-control {
  position: relative;
  z-index: 2;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  height: auto;
  font-size: 1.25rem;
}


